@font-face {
    font-family: "TTLakes";
    src: url("assets/fonts/TTLakes-Regular.woff") format("woff"); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    
}

@font-face {
    font-family: "TTLakes";
    src: url("assets/fonts/TTLakes-Medium.woff") format("woff"); 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    
}

@font-face {
    font-family: "TTLakes";
    src: url("assets/fonts/TTLakes-Bold.woff") format("woff"); 
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    
}

p {
    margin:0;
}

span {
    text-indent: 0;
}

body { 
    font-family: TTLakes;
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
}

li {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: transparent;
}

header {
    background-color: #FFFFFF;
}

main {
    background-color: #F8F8F8;
}

h1 {
    font-size: 28px;
    margin: 0 ;
    padding: 0 ;
}

article {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    display: flex;
    height: 88px;
}

/* left-items */
.header__menu--left  {
    height: 100%;
    gap: 16px;
    display: flex; 
    align-items: center ;
    justify-content: flex-start;
}   

.header__item--burger {
    margin: 0 0 0 16px;
    background-image: url("assets/icons/burger.svg");
    background-repeat:no-repeat;
    width: 40px;
    height: 40px;
    
}

.header__menu-item--logo {
    background-image: url("assets/icons/logo.svg");
    background-repeat:no-repeat;
    width: 97px;
    height: 51px;
    
}

.header__item--line {
    margin: 0 4px 0 4px;
    width: 2px;
    height: 32px;
    background-image: url("assets/icons/divider.svg")
}

/* right-items */

.header__menu--right {
    width:100%;
    gap: 16px;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-right: 13px;
    
}

.header__item--chat{
    background-image: url("assets/icons/chat.svg");
    width:40px;
    height: 40px;
}

.header__item--call{
    background-image: url("assets/icons/call.svg");
    width:40px;
    height: 40px;
}

.header__item--profile{
    background-image: url("assets/icons/profile.svg");
    width:40px;
    height: 40px;
}

.header__item--repair{
    background-image: url("assets/icons/repair.svg");
    width:40px;
    height: 40px;
}

.header__item--checkstatus{
    background-image: url("assets/icons/checkstatus.svg");
    width:40px;
    height: 40px;
}

.header__item--tablet-hidden {
    display: none;
}


/* Main */

/* Section hero */
.hero {
    margin: 24px 0;
    display: flex;
    align-items:center;
    gap: 12px;
}

.hero__decoration {
    border-radius: 0 4px 4px 0;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
}

.hero__item--repair {
    background-image: url("assets/icons/repair.svg");
    width:40px;
    height: 40px;
    background-repeat: no-repeat;
}

.hero__item--checkstatus{
    background-image: url("assets/icons/checkstatus.svg");
    width:40px;
    height: 40px;
    background-repeat: no-repeat;
}


/* NAVIGATION */
.nav {
    position: relative; 
    white-space: nowrap;
    display: flex;
}

.nav__list {
    overflow: scroll;
    display: flex;
}

.nav__item {
    color: #7E7E82;
    height: 20px;
    padding: 8px 12px 8px 17px;
    font-family: TTLakes;
    font-weight: 500 ;
    font-size: 16px;
    background: transparent;
}

.nav__item:nth-child(1) {
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    color: #7E7E82;
    margin-left: 16px;
}

.nav::after {
  content: "";
  position: absolute;
  right: 0;
  width: 24px;
  height: 40px;
  background: linear-gradient(90deg, transparent, #F8F8F8 80%);
  pointer-events: none; 
  z-index: 10;
}

.nav::before {
    width: 24px;
    height: 40px;
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #F8F8F8 20%, transparent);
    z-index: 10;
}

/* Content */

.content {
    margin: 24px 0 0 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
}
/* btn */

.content__button--read-more {
    background-image: url("assets/icons/arrows.svg");
    background-repeat: no-repeat;
    padding-left: 24px;
    margin:0 0 16px 0;
    height: 24px;
    font-family: TTLakes;
    font-weight: 500;
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.content__img {
    width: 100%;
    height: 100%;
}

.content__paragraph{
    margin:0 0 16px 0;
    height: 94px;
    overflow: hidden;
}

.content__text{
    margin-left: 16px;
}

.hero__actions--desktop{
    display: none;
    }


/* tablet */
@media (min-width: 768px) {

    .header__item--tablet-hidden{
        display: block;
    }

    .content {
        width: 95%;
        height: auto;
        display: flex;
        gap:24px;
        margin: 24px 25px 0 24px;
    }

    .content__image {
      width:100%;  
    }

    .content__text {
        width: 75%;
        margin: 0;
    }

        .content__paragraph {
        margin:0 0 16px 0;
        height: 156px;
        overflow: hidden;
    }

}

/* dekstop */

@media (min-width: 1120px) {
    .header {
        display: none;
    }

    .hero__decoration {
        margin: 0 30px 0 0;
    }

    .hero {
        display: flex;
        margin: 42px 24px 0 0;
        gap: 0;
        white-space: nowrap;
    }
    
    .hero__actions--desktop {
        width: 100%;
        gap: 32px;
        display: flex;
        justify-content: end;
    }

    .hero__button {
        display: flex ;
        align-items: center;
    }

    .hero__button-text {
        font-family: TTLakes;
        font-weight: 500;
        font-size: 16px;
        margin: 8px;
    }

    .nav__list {
        display: flex;
        margin: 8px 25px 16px 16px;
        overflow: visible ;
        flex-wrap: wrap  ;
    }

    .content__paragraph--tablet-hidden {
        display: none;
    }

    .content__paragraph--desktop-hidden {
        width: 100%;
        height: 100%;
        text-indent: 0;
        display: flex;
        margin-top: 16px;
    }
    
    .content__text {
        margin: 0 0 0 10px;
        width: 60%;
        height: 10px;
        font-size: 14px;
    }

    .content__image {
        width: 100%;
        height: 100%;
    }

    .content {
        width: 100%;
        height: 100%;
    }
    
    .content__img {
        width: 90%;
        height: 90%;
    }

}
